.grid-container {
  background-color: white;
  position: relative;
  height: 100vh;
  overflow: hidden;
  right: 0;
  top: 0;
  

}

.grid {
  width: 100%;
  min-height: 20vh;
  overflow: hidden;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(14,5.6vh);
  transform: skewY(-12deg) translate(50%, -50%);
  top: 50%;
  right: 50%;
  margin-top: 14vw;
}
